# Cloud PostgreSQL Connection String
DATABASE_URL=postgresql://user:password@your-cloud-db.com:5432/database_name

# CORS Configuration (comma-separated)
# ALLOWED_ORIGINS=https://your-frontend-domain.com,https://another-domain.com
ALLOWED_ORIGINS=https://sa.agentraeg.com,http://localhost:3000
